form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  margin-inline: auto;
  
  input {
      flex: 4 3;
      padding-block: 10px;
      padding-inline: 15px;
      font-size: inherit;
      border: 1px solid black;
  }

  button {
    flex: 1 1;
    color: #f3f4f6;
    background-color: #18181b;
    padding-block: 10px;
    padding-inline: 15px;
    font-size: inherit;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

@media (min-width: 640px) {
  form {
    flex-direction: row;
    width: 70%;
  }
}
